@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');
*,
body {
  font-family: 'Poppins', sans-serif;
}

.container-fluid {
  overflow: hidden;
  padding-inline: 5rem;
}

.big-font {
  margin-top: 1rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: #035aa6;
}

.btn-more {
  background-color: #035aa6 !important;
  color: #fff !important;
  transition: all 0.3s;
}

.btn-more:hover {
  background-color: #024885 !important;
}

.bg-hero {
  background-image: url('../assets/blob-scene-haikei.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

.description-text {
  width: 100%;
  font-size: 1.2rem;
  color: #797979;
  max-width: 45ch;
  text-align: left;
}

.date-text {
  width: 100%;
  text-align: center;
  color: #212529;
}

.date-format {
  font-weight: 700;
}

.bg-card {
  background-color: #b9b9b9;
  border: none;
}

.title-font {
  font-weight: 800;
  text-transform: uppercase;
}

.card-title {
  font-size: 2.3rem;
  text-shadow: 0 0 3px #0000001a;
}

.card-text {
  font-size: 1.3rem;
  color: #fff;
}

.txt-recovered {
  color: #269692;
}

.txt-confirmed {
  color: #ff7300;
}

.txt-dead {
  color: #f6174e;
}

@media (max-width: 990px) {
  .container-fluid {
    padding-inline: 3rem;
  }
  .hero-image {
    display: none;
  }
}

@media (max-width: 766px) {
  .bg-card {
    border-radius: 0;
  }
}

@media (max-width: 711px) {
  .container-fluid {
    padding-inline: 2rem;
  }
  .bg-hero {
    background-image: none;
  }
}