@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Georama&display=swap');
* {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.container-fluid {
  padding: 20px 10% !important;
}

h1,
h2 {
  font-family: 'Georama', sans-serif;
}

.big-font {
  color: #035aa6;
}

.btn-more {
  background-color: #035aa6 !important;
  color: #fff !important;
  transition: all 0.3s;
}

.btn-more:hover {
  background-color: #0081f1 !important;
}

.bg-hero {
  background-image: url('../assets/blob-scene-haikei.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.hero-image {
  width: 95%;
  margin: 10% auto auto 5%;
}

.description-text {
  color: #b4b4b4;
  font-family: 'Georama', sans-serif;
}

div .bg-card {
  background-color: #cacaca;
  border: none;
}

.card-title {
  font-size: 2.3rem;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card-text {
  font-size: 1.3rem;
  color: #fff;
}

.txt-recovered {
  color: #04c8c2;
}

.txt-confirmed {
  color: #ff7300;
}

.txt-dead {
  color: #f6174e;
}

@media (max-width: 1000px) {
  .hero-image {
    width: 70%;
    margin: 0 0 0 20%;
  }
}

@media (max-width: 320px) {
  .hero-image {
    width: 100%;
    margin: 10% 0 0 0;
  }
}